<br><br><br>
<div class="products" id="products">

    <h1 class="heading"> New <span>Arrivals Soon </span> </h1>

    <div class="box-container">
        <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="../img/bugatti.jpg" alt="" style="height: 400px; width: 400px;">
                </div>
                <div class="content">
                    <h3>Bugatti-Chiron-Deep-Blue-for-sale</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">£99999 <span>£999999</span></div>
                </div>
            </div>
        

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="../img/Koenigsegg-Jesko.jpg" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="../img/Koenigsegg-Jesko.jpg" alt="" style="height: 400px; width: 400px;">
            </div>
            <div class="content">
                <h3>Bugatti-Chiron-Deep-Blue-for-sale</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="price">£423421 <span>£2343223</span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="../img/ferrari.jpg" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="../img/ferrari.jpg" alt="" style="height: 400px; width: 400px;"></div>
            <div class="content">
                <h3>MClaren 720LP</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="price">£1.599.999 <span>£1.3000.</span></div>
            </div>
        </div>

    </div>

</div>

<br><br><br>
<div class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../img/quote-img.png" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
            <img src="../img/pic-1.png" class="user" alt="">
            <h3>Michael Donovan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="../img/quote-img.png" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
            <img src="../img/pic-2.png" class="user" alt="">
            <h3>Jessica Albah</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
        
        <div class="box">
            <img src="../img/quote-img.png" alt="" class="quote">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla sit libero nemo fuga sequi nobis? Necessitatibus aut laborum, nisi quas eaque laudantium consequuntur iste ex aliquam minus vel? Nemo.</p>
            <img src="../img/pic-3.png" class="user" alt="">
            <h3>Richard Morrison</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

    </div>

</div>


<br><br><br>
<div class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> me </h1>

    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33399.06724963987!2d-0.11326314855288667!3d51.52421321973413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603526c3ca281%3A0xd5156ccc2c6a9284!2sSky%20Garden!5e0!3m2!1sen!2suk!4v1649241375302!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
        <table style="width:40%" text-align="right">
            <tr>
              <th>Name: Felix Tudorascu</th>
            </tr>
              <tr>
              <th>tel: +44 7307 *** ***</th>
            </tr>
              <tr>
              <th>Adress : London UK</th>
            </tr>
            <tr>
                <th>email: tudorascu.felix@yahoo.com</th>
              </tr>
              <tr>
                <th>github account: https://github.com/TudorascuFelixC </th>
              </tr>
            
          </table>
          <div class="image">
            <img src="../img/eu.jpg" alt="" style="height:100%; width:500px; box-shadow: 20px;">
        </div>
    </div>
</div>



<br><br><br>
<div class="blogs" id="blogs">

    <h1 class="heading"> INFORMARTIONS <span>ABOUT OUR CARS</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="../img/bugatti.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Most brutal car in the world</a>
                <span>by felix.tudorascu / 21st may, 2022</span>
                <p>Automobiles Ettore Bugatti was a German then French manufacturer of high-performance automobiles. The company was founded in 1909 in the then-German city of Molsheim, Alsace, by the Italian-born industrial designer Ettore Bugatti. </p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../img/ferrari.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Most known italian brand since 1940</a>
                <span>by felix.tudorascu / 21st may, 2022</span>
                <p>Ferrari S.p.A. is an Italian luxury sports car manufacturer based in Maranello, Italy. Founded by Enzo Ferrari in 1939 from the Alfa Romeo racing division as Auto Avio Costruzioni, the company built its first car in 1940, and produced its first Ferrari-badged car in 1947</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../img/Koenigsegg-Jesko.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Highs Enough power to light up a small city;</a>
                <span>by felix.tudorascu / 21st may, 2022</span>
                <p>Koenigsegg Automotive AB is a Swedish manufacturer of high-performance sports cars, based in Ängelholm, Skåne County, Sweden..</p><br><br><br><br><br><br><br><br>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</div>


<br><br><br><br><br><br>
<nav>
    <div class="container">
        <div class="text-center">
            <div class="share" style="font-size:30px">
                <a href="https://github.com/TudorascuFelixC" class="fab fa-github"></a>
                <a href="https://www.facebook.com/TudorascuFelix/" class="fab fa-facebook-f"></a>
                <a href="https://www.facebook.com/" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com/?hl=en" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/" class="fab fa-linkedin"></a>
                <a href="https://www.facebook.com/" class="fab fa-pinterest"></a>
            </div>
        </div>
    </div>
</nav>

<br>

<div class="last-signature"> Created by <span>Felix Tudorascu &reg;</span> | all rights reserved</div>


<!-- footer section ends -->
<!--##################################################################################################################################-->






<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>
</body>
</html>